
html {
    font-size: 62.5%;
  }
  
  /*=========================== 重置所有tag =============================*/
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
  }
  
  /* =================================================================== */
  